

	<nav class="navbar  navbar-inverse navbar-fix-top">
	  <!-- Brand and toggle get grouped for better mobile display -->
	  <div class="navbar-header">
	    <a class="navbar-brand reelsearch" href="../">ReelSearch</a>
	  </div>

	</nav>


	
		<div class ="container">
				<% @info_arr.map do |info_hash| %>
			
				<div class ="row">
					
					<div class ="container movie_title">
						
							<% if info_hash["Poster"] != "N/A" %>
								<img  class= "img-responsive img-rounded" src = '<%= info_hash["Poster"] %>' > 
							<% else %>
								<img class="img-responsive img-rounded" src = '../images/no_poster.jpg' >
							<%end%>
			

						
							<p class ="info">
								<span>Title: </span> <br> <%= info_hash["Title"] %> <br>  
								<span>Year: </span> <br> <%= info_hash["Year"] %> <br>
								<span>Rated: </span> <br> <%= info_hash["Rated"] %> <br> 
								<span>Released: </span> <br> <%= info_hash["Released"] %> <br>
								<span>Runtime: </span> <br>  <%= info_hash["Runtime"] %> <br> 
								<span>Genre: </span> <br> <%= info_hash["Genre"] %> <br>
								<span>Director: </span> <br> <%= info_hash["Director"] %> <br> 
								<span>Actors: </span> <br> <%= info_hash["Actors"] %> <br>
								<span>Plot: </span> <br> <%= info_hash["Plot"] %> 
							</p>
						

					</div>

				</div>  
				
			<% end %>
	
</div>




