
<h1> Here is your link!</h1>
<h5> To be redirected to your website, click the following URL or enter it in your browser </h5>

<div>
<a href='http://<%= @url.link %>'>localhost:3000/go/<%= @url.random_string %> </a><br> <%= button_to 'Delete', urls_path, method: :destroy %>
<%= button_to 'Edit', edit_url_path(@url) %>
</div>
<br>

<div>
<h5>To access a preview for your new URL, enter the following into your browser </h5>
<p>localhost:3000/go/<%= @url.random_string %>/preview</p>

</div>